/* Estilos generales de la sección de categorías */
.categories {
    padding: 30px 20px;
    background-color: transparent; /* Fondo transparente para que no se note el contorno */
  }

  .category-list {
    display: flex;
    justify-content: center;
    gap: 50px;  /* Espaciado reducido entre las tarjetas */
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
    margin: 0 auto;
  }
  
  .category-item {
    background-color: #fff;
    border: none;  /* Sin borde para un look más limpio */
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    transition: all 0.3s ease;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1); /* Menos sombra */
    cursor: pointer;
    width: 110px;  /* Hacemos las tarjetas aún más pequeñas */
    height: 120px;  /* Ajustamos la altura para que sea uniforme */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transform: scale(1);
  }
  
  .category-item:hover {
    transform: scale(1.1);  /* Ligeramente más grande al pasar el ratón */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15); /* Efecto de sombra más sutil */
  }
  
  .category-link {
    text-decoration: none;
    color: #444;
    font-size: 0.9rem;
    font-weight: bold;
    display: block;
    padding: 5px 0;
    transition: color 0.3s ease;
  }
  
  .category-link:hover {
    color: var(--color-primary-light);
  }
  
  .category-icon {
    font-size: 1.8rem;  /* Hacemos los íconos más pequeños */
    color: var(--color-primary-light);
    margin-bottom: 5px;  /* Menos espacio entre el icono y el texto */
  }
  
  /* Responsividad para pantallas más pequeñas */
  @media (max-width: 768px) {
    .category-list {
      flex-direction: column; /* Las categorías se apilan verticalmente */
      gap: 10px;
      align-items: center;
    }
  
    .category-item {
      width: 100%;  /* Las tarjetas ocupan el 100% del ancho en móvil */
      max-width: 250px;  /* Máximo tamaño de tarjeta */
      height: 110px;  /* Ajustar la altura */
    }
  
    .category-link {
      font-size: 0.8rem;  /* Reducir el tamaño de texto en móvil */
    }
  
    .category-icon {
      font-size: 1.5rem;  /* Reducir aún más el tamaño del icono */
    }
  }
  