.hero-section {
  position: relative;
  width: 100%;
  height: 60vh;
  background-image: url('../assets/hotelBanner.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  flex-direction: column;
}

/* Capa oscura */
.hero-section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

/* Texto encima */
.text-overlay {
  position: relative;
  z-index: 2;
  text-align: center;
  padding: 20px;
}

.hero-section h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #fff;
}

.slogan {
  font-size: 1em;
  font-weight: 500;
}

/* Contenedor de búsqueda */
.search-container {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 1000px;
  padding: 16px;
  margin-top: 20px;
}

.content-section {
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

/* -------------------CATEGORIES---------------- */

.categories {
  padding: 30px 20px;
  background-color: transparent;

}

.category-list {
  display: flex;
  justify-content: center;
  gap: 50px;

  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  margin: 0 auto;
}

.category-item {
  background-color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  transition: all 0.3s ease;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  width: 110px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transform: scale(1);
}

.category-item:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.category-link {
  text-decoration: none;
  color: #444;
  font-size: 0.9rem;
  font-weight: bold;
  display: block;
  padding: 5px 0;
  transition: color 0.3s ease;
}

.category-link:hover {
  color: var(--color-primary-light);
}

.category-icon {
  font-size: 1.8rem;
  color: var(--color-primary-light);
  margin-bottom: 5px;
}

/* -----------------TERMINA CATEGORIAS------------------------- */



/* --------------RECOMENDATIONS------------------*/

.recommendations {
  padding: 20px;
}

.recommendation-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* 2 columnas mínimo */
  gap: 20px;
}

.recommendation-card {
  border: 1px solid #ddd;
  padding: 15px;
  background-color: #fff;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.hotel-image {
  width: 100%;
  height: 200px;
  object-fit: cover; /* Para asegurar que la imagen no se distorsione */
  border-radius: 5px;
  margin-bottom: 15px;
}

.recommendation-card h3 {
  font-size: 1.2em;
  margin: 10px 0;
}

.recommendation-card p {
  font-size: 1em;
  color: #555;
  margin: 5px 0;
}

.recommendation-card button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

.recommendation-card button:hover {
  background-color: #0056b3;
}

/* -----------------TERMINA RECOMENDATIONS------------------------- */


/* Móviles */
@media (max-width: 768px) {
  .hero-section {
    height: auto;
    padding: 40px 20px;
  }

  .text-overlay {
    padding: 10px;
  }

  .hero-section h1 {
    font-size: 2rem;
  }

  .slogan {
    font-size: 1.2rem;
  }

  .search-container {
    margin-top: 20px;
    padding: 0;
  }


  /* -------------------CATEGORIES---------------- */

  .category-list {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  .category-item {
    width: 100%;
    max-width: 250px;
    height: 110px;
  }

  .category-link {
    font-size: 0.8rem;
  }

  .category-icon {
    font-size: 1.5rem;
  }
  /* -----------------TERMINA CATEGORIAS------------------------- */



  /* -------------RECOMENDATIONS---------------- */

  .recommendation-list {
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }

  .recommendation-item {
    width: 90%;
    max-width: 300px;
    height: auto;
    padding: 15px;
  }

  .recommendation-item h3 {
    font-size: 1.2rem;
  }

  .recommendation-item p {
    font-size: 0.9rem;
  }
  /* -----------------TERMINA RECOMENDATIONS------------------------- */
}