.search-bar {
    display: flex;
    gap: 20px; 
    width: 100%;
    padding: 12px 16px; 
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    align-items: center;
  }

  .search-input-container {
    position: relative;
    width: 100%;
  }
  
  .search-bar input {
    width: 100%;  
    padding: 12px 20px; 
    font-size: 14px; 
    border-radius: 8px;
    border: 1px solid #ddd;
    height: 35px;
  }

  .suggestions-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: white;
    border: 1px solid #ddd;
    color: black;
    border-top: none;
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .suggestions-dropdown li {
    padding: 10px;
    cursor: pointer;
  }
  
  .suggestions-dropdown li:hover {
    background-color: #f0f0f0;
  }
  
  .search-bar button {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 20px; 
    background-color: var(--color-primary-light);
    color: white;
    border: none;
    border-radius: 4px; 
    cursor: pointer;
    font-size: 14px;
    transition: all .3s ease;
  }
  
  .search-bar button:hover {
    background-color: var(--color-primary-hover);
  }
  
  .search-icon {
    color: #fff;
    font-size: 18px;
  }
  
  .date-picker-container {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  .custom-picker {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px;
    background-color: #fff;
    padding: 12px 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    cursor: pointer;
    height: 35px;

  }
  
  .custom-picker input {
    border: none;
    outline: none;
    font-size: 10px;
    background: none;
    width: 100px;

  }
  
  .calendar-icon {
    font-size: 18px;
    color: #666;
  }
  
  .filter-group{
    color: black;
  }
  

  @media (max-width: 768px) {
    .search-bar {
      flex-direction: column; 
      gap: 10px;  
    }
  
    .search-bar input, .search-bar button {
      width: 100%; 
    }
  
    .date-picker-container {
      justify-content: space-around;
      width: 100%;
      gap: 3px;  
    }
  
  }
